@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Sriracha', cursive;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 30px;
}

header h1 {
    font-family: 'Passion One', sans-serif;
    font-size: 3em;
    letter-spacing: 1px;
}

header a {
    color: white;
    font-size: 0.8em;
    text-decoration: none;
}

header a:hover {
    color: yellowgreen;
    text-decoration: underline;
}

section {
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.imagem {
    background-color: black;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

.imagem p {
    background-color: rgba(0, 0, 0, 0.377);
    display: inline-block;
    padding: 10px;
}

.imagem#img01 {
    background-image: url(../imagens/background001.jpg);
    background-position: right center;
}

.imagem#img02 {
    background-image: url(../imagens/background002.jpg);
    background-position: right center;
}